
.container .clear{
	text-align: center;
}
.container .clear_btn{
	margin: 70px;
	border-radius: 6px;
	color:#fff;
	font-size: 25px;
	border:none;
	background:none;
	border:3px solid var(--main-color);
	padding: 15px;
	width: 30%;
}

.container .clear input[type="submit"]:hover{
	border:3px solid #8b8c89;
	background:var(--delete-color);
}

